/* ************* DUNG CHUNG ************* */
*{
    font-family: Arial, Helvetica, sans-serif;
}
.xoa{
    clear:both;
}
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.border {
    border: 1px solid #6DCFF6;
}
.no-bold {
    font-weight: normal;
}
.background {
    background: rgb(152, 199, 199);
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-right-5 {
    margin-right: 5px;
}
.margin-left-5 {
    margin-left: 5px;
}
.margin-top-5 {
    margin-top: 5px;
}
/************ HEADER ****************/
.top {
    background: #F5F5F5;
    font-size: 0.9em;
    min-height:40px;
    line-height:40px;
}
@font-face{
	font-family:sofia;
	src:url(../VNF-SofiaRegular.ttf);
	font-weight:normal;
	font-style:normal;
}
.title-top h2 {
  color: #0616ff;
  font-family: "sofia", cursive !important;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.header{
    background: url("../img/header.png") no-repeat center;
    background-size: cover;
    min-height: 130px;
}
.top img {
    padding: 0px 3px 0px 13px;
    height: 10px;
}
/* ********** TÙY CHỌN MENU ********** */
.menu{
    background:#00AEEF;
    height:46px;
    width:100%;
    z-index:500;
}
.navbar-nav {
    margin: 0 !important;
    background:#00AEEF;
    z-index:500;
    position:relative;
  }
  .navbar-toggle {
    border: 1px solid #6DCFF6;
  }
  .navbar-toggle .icon-bar {
    background:#6DCFF6;
  }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 2px;
  }
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown>div{
    position:absolute;
    clip: rect(1px,9999px,9999px,-9999px);
}
.dropdown:hover .dropdown-content{
    transform: translate(0,0);
    display:block;
}
.dropdown-content li:last-child{
    margin:0px 0px 5px 0px;
}
.dropdown-content li:first-child{
    margin:5px 0px 0px 0px;
}
.dropdown-content {
    position:absolute;
    background: #d3d3d3;
    z-index: 1000;
    transform: translate(0,-100%);
    transition: transform .35s ease!important;
    min-width: 180px;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.175);
  }
  .dropdown-content > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
  }
  .dropdown-content > li > a:hover,
  .dropdown-content > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
  }
  .dropdown-content > .active > a,
  .dropdown-content > .active > a:hover,
  .dropdown-content > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
  }
  
/* ********** TÙY CHỌN LẠI MÀU SẮC MENU ********** */
  .navbar-nav > li > a {
    color: rgb(255, 255, 255) !important;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    color: rgb(248, 244, 21) !important;
    background-color: #1495e0;
  }
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: rgb(197, 8, 8);
    background-color: #3fa4d3;
  }
  .navbar-nav > .open > a,
  .navbar-nav > .open > a:hover,
  .navbar-nav > .open > a:focus {
    background-color: #1495e0;
  }
  @media (max-width: 767px) {
    .navbar-nav .open .dropdown-content > li > a {
      color: #777;
    }
    .navbar-nav .open .dropdown-content > li > a:hover,
    .navbar-nav .open .dropdown-content > li > a:focus {
      color: #333;
    }
  }

/* ********** TÙY CHỌN LẠI KÍCH THƯỚC MENU ********** */
.navbar {
    min-height: 35px;
}
.navbar-nav>li>a {
    line-height: 35px;
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* ****************** MENU NOI ******************* */
.ontop{
    position:fixed;
    top:0;
    left:0;
}
/* ****************** Xử lý main ******************* */
.wraper {
    background: #f2f2f3;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
    min-height:500px;
}
/* ******************* HOME CHI TIET - TIN ****************/
.img-home{
    width:100%;
    height:250px;
}
.chi-tiet-tin {
    background: #FFFFFF;
    padding: 0 10px 0 0;
    box-sizing: border-box;
}

.tdmuctin {
    border-bottom: 2px solid #b92222;
}

.tdmuctin{
    font-weight: bold;
    color: #b92222;
    font-size: 1.2em;
    height: 40px;
    line-height: 40px;
}

.tieude {
    font-weight: bold;
    color: #0f0064;
    font-size: 1.1em;
    min-height: 30px;
    line-height: 30px;
}

.tieude a {
    color: #0f0064;
}

.ngaynhap {
    margin-top: -10px;
    font-size: 0.9em;
    color: #808080;
}


/*************** module-right **************/

.module-right {
    padding-left: 0;
}

.img-right {
    margin-bottom: 5px;
}


/*************** FOOTER **************/

.footer-bar {
    background: #1495e0;
    height: 35px;
    margin-top: 35px;
}

.footer-info {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background: rgb(248, 215, 154);
}

.footer-info p {
    line-height: 15px;
}

.footer-info p:first-child {
    font-weight: bold;
}
.footer-copyright {
    background: #f5f3f3;
    height: 50px;
    line-height:50px;
    color:#7a7a7a;
    margin-bottom:50px;
}
.pagination>li {
    float: left;
    margin-right: 1px;
}

.pagination>li button,
.pagination>li>span {
    position: relative;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li button:hover,
.pagination>li>span:hover,
.pagination>li button:focus,
.pagination>li>span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eeeeee;
    border-color: #ddd;
}

.pagination>li:first-child button,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li:last-child button,
.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination>.active button,
.pagination>.active>span,
.pagination>.active button:hover,
.pagination>.active>span:hover,
.pagination>.active button:focus,
.pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled button,
.pagination>.disabled button:hover,
.pagination>.disabled button:focus {
    color: #777777;
    cursor: not-allowed;
    background-color: #fff;
    border: 2px solid rgb(231, 19, 19);
}

/*************** KẾT QUẢ TRA CỨU **************/
.thongbao{
    font-weight: bold;
    color:#1f1e1e;
}
.thongbao span{
    color:#d31a02;
}
/*************** PHIẾU VÀ IN PHIẾU KHÁM **************/
.phieu{
    width: 21cm;
    overflow:hidden;
    min-height:297mm;
    padding: 1.5cm 1.5cm 1.5cm 2.5cm;
    margin-left:auto;
    margin-right:auto;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.phieu p{
    margin:0;
    margin-left:-10px;
}
.font-time div, 
.font-time b, 
.font-time p,
.font-time i
{
    font-family: 'Times New Roman', Times, serif !important;
    font-size:16px;
}
.header-left{
    width:35%;
    float:left;
    text-align: center;
}
.header-right{
    width:65%;
    float:right;
    text-align: center;
}
.header-right b{
    font-size:20px;
}
.tbphieu{
    margin:5px 0;
}
.tbphieu tr,
.tbphieu th,
.tbphieu td{
    font-family: 'Times New Roman', Times, serif !important;
    font-size:16px;
}
.tbphieu th{
    text-align:center;
    vertical-align: middle !important;
}
.footer-left{
    width:35%;
    float:left;
    text-align: center;
}
.footer-right{
    width:65%;
    float:right;
    text-align: center;
}
